.p1{
    /*margin-left: 13px;*/
    margin-top: 4px;
    text-align: center;
}
.m1Top{
    margin-top: 24px;
}
@media only screen and (max-width: 600px) {
    .btn2_pos {
      margin-right: 4px;
      margin-top: 3px;
      display: inline-block;
    }
    .btn1_pos {
        margin-left: 1rem;
    }
}