.p1{
    /*margin-left: 13px;*/
    margin-top: 4px;
    text-align: center;
}
.boxMargin{
    margin-top: 14px;
}
.scroller {
    height: 160px;
    overflow: auto;
    padding: var(--lwc-varSpacingXSmall, 8px);
    border: solid var(--lwc-borderWidthThin, 1px) #eee;
}
.customBox{
    height: 118px;
}
@media only screen and (max-width: 600px) {
    .btn2_pos {
        margin-right: 4px;
        margin-top: 3px;
        display: inline-block;
    }
    .btn1_pos {
          margin-left: 1rem;
    }
}