.p1{
    margin-top: 4px;
    text-align: center;
}
.viewPanel{
    min-height: 95px;
}
.recordPanel{
    margin-bottom: 45px;
}
.recordPanel .btnPos{ 
    float: right;
}
.recordPanel .totalRec{ 
    float: left;
}
.recordPanel .resultPanel{
    margin-left: 8px;
    display: inline-flex;
}
.btn3_pos{
    float: right;
}
@media only screen and (max-width: 600px) {
    .btn2_pos_mob {
      margin-right: 4px;
      margin-top: 3px;
      display: inline-block;
    }
    .btn1_pos_mob {
        margin-left: 1rem;
    }
}