.p1{
    margin-top: 4px;
    text-align: center;
}
.urlTextArea{
    --sds-c-textarea-sizing-min-height: 100px;
    font-size: medium;
}
.bodyTextArea{
    --sds-c-textarea-sizing-min-height: 270px;
    font-size: 14px;
}
.responsePanel{
    display: ruby;
}
.scroller{
    height: 320px;
    overflow: auto;
    padding: var(--lwc-varSpacingXSmall, 8px);
    border: solid var(--lwc-borderWidthThin, 1px) #eee;
    min-height: 320px;
}
.authClass{
    min-height: 298px;
}
.headerClass{
    min-height: 296px;
}
.paramClass{
    min-height: 296px;
}

@media only screen and (max-width: 600px) {
    .btn2_pos_mob {
      margin-top: 2px;
      display: inline-block;
    }
    .btn1_pos_mob {
        margin-top: 1px;
    }
    .btn3_pos_mob {
        float: none;
        margin-top: 2px;
        display: inline-block;
    }
}